body{
    background-size: cover;
    height: 100vh;
    animation:transitionIn 2s;
}
@keyframes transitionIn{
    from{
        opacity:0s;
        transform: translate(-20px);
    }
    to{
        opacity: 1;
        transform: translate(0);
    }
}